<h1 id="tableLabel" class="margin-bottom">Company names</h1>
<p></p><p></p>
<button class="btn btn-primary" (click)="getCompanies()">Get companies</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<label for="link">Enter link:&nbsp;</label>
<input type="text" id="link" name="link" size="90" [(ngModel)]="this.linkText" ><br>

<p><em>{{statusText}}</em></p>

<p *ngIf="signalList.length"><em>Done: {{getCurrentListCount()}}</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="signalList.length">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody *ngIf="signalList.length">
    <tr *ngFor="let company of signalList">
      <td>{{ company.companyName }}</td>
    </tr>
  </tbody>
</table>
